.image-grid{
	display: flex;
	justify-content: space-around;
}
.image-content .image-features{
	position: relative;
	margin-bottom: 3vh;
}
.image-content .image-features img{
	border-radius: 6px;
}
.image-content .image-features .texts-image{
	background-color: rgba(156, 67, 246, .7);
	color: var(--light-color);
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 6px;
	opacity: 0;
	transition: 0.3s;
}
.image-content .image-features:hover .texts-image{
	opacity: 1;
	transition: 0.3s;
}
.image-content .image-features .texts-image h2{
	font-size: 1em;
	text-align: left;
	margin: var(--spacing-medium) var(--spacing-large) 0 var(--spacing-large);
	width: 80%;
}
.image-content .image-features .texts-image a{
	text-decoration: none;
	color: var(--light-color);
	position: absolute;
	display: block;
	margin: 15px var(--spacing-large);
	bottom: 10px;
}
.image-content .image-features .texts-image span{
	font-size: 0.7em;
	margin: 0 var(--spacing-large);
}
.image-content .image-features .texts-image span::before{
	content: '–';
	color: var(--light-color);
	margin-right: 4px;
}
.image-content .image-features .texts-image i{
	margin-left: 5px;
}
.image-grid .image-container-1, .image-grid .image-container-3{
	position: relative;
	top: 90px;
}
@media(max-width: 1220px){
	.image-grid{
		width: 85%;
		margin: 0 auto;
	}
}
@media(max-width: 800px){
	.image-grid{
		width: 100%;
	}
	.image-grid .image-items .image-content img{
		width: 30vw;
		height: auto;
	}
	.image-grid .image-container-1, .image-grid .image-container-3{
		top: 10vh;
	}
	.image-content .image-features{
		margin-bottom: 1.5vh;
	}
	.image-content .image-features .texts-image a{
		font-size: 0.8em;
	}
}
@media(max-width: 600px){
	.image-grid .image-container-1, .image-grid .image-container-3{
		top: 7vh;
	}
	.image-content .image-features .texts-image h2{
		font-size: 0.8em;
		text-align: left;
		margin: 10px 15px 0 15px;
		width: 90%;
	}
	.image-content .image-features .texts-image a{
		font-size: 0.7em;
		margin: 15px 15px 0 15px;
		bottom: 8px;
	}
	.image-content .image-features .texts-image span{
		font-size: 0.5em;
		display: block;
		margin: 0 15px;
	}
}
