.container-work {
	background-image: url(../../images/dashed-line.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: -10px center;
}
.container-work .work-process-images{
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	height: 100%;
}

.work-process-images img{
	background-color: var(--light-color);
	padding: var(--spacing-medium);
	width: 60px;
	height: 60px;
	border-radius: 50%;
	box-shadow: 0px 6px 14px rgba(0,0,0,0.1);
}

@media(max-width: 650px){
	.work-process-images img{
		width: 40px;
		height: 40px;
		margin-bottom: 10vh;
	}
}





